body {
  margin: 0;
  background-color: #ef3e3e;
  font-family: sans-serif;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.pokemon-item-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.pokemon-item {
  background-color: #2d2c2c;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 5rem;
}

img{
  height: 5rem;
}

.Pokemon-detail-item{
  display: flex;
}
.Pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 1rem;
  height: 100vh;
  position: sticky;
  top: 0;
  font-size: 20px;
}
