h1,h2,h3,p{
  margin : 0px;
}
img{
  width: 100%;
}
body {
  margin: 0;
  /* background-color: #ef3e3e;  */
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden; 
}

.app {
  background-color: #ef3e3e; 
  display: grid;
  grid-template-columns: 1fr 1fr; 
  height: 100%;

}


.left-column {
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30rem;
}

.right-column {
  overflow-y: auto; 
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-item {
  background-color: #2d2c2c; 
  color: white;
  border-radius: 6px;
  padding: 0 15px;
  cursor: pointer;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  box-sizing: border-box; 
  flex-shrink: 0;    /
}

.pokemon-item:hover {
  background-color: #404040;
}

.pokemon-item img {
  flex : 2;
}
.pokemon-item p {
  margin: 0;
  font-weight: bold;
}
.pokemon-item .infos{
  display: flex;
  gap : 10px;
  flex : 8;
}

.search-bar{
  display: flex;
  
}
.search-icon{
  flex : 1;
  color: white;
  font-size: 25px;
}
.search-input{
  flex : 9;
}

input {
  padding: 10px;
  background-color: #a32a2a; 
  border: none;
  
  color: white;
  font-size: 18px;
}
