body {
  margin: 0;
  background-color: #ef3e3e;
  font-family: sans-serif;
  
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: start;
}

.left-column {
  display: flex;
  overflow-y: auto;
  gap: 15px;

}

input {
  padding: 4px 10px;
  border: 0;
  font-size: 30px;
  background-color: rgba(70, 67, 67, 0.5);
}

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 1rem;
  height: 100vh;
  font-size: 20px;
}
.pokemon-item {
  background-color: #2d2c2c;
  padding: 10px;
  cursor: pointer;
  color: white;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 5rem;
}

img {
  height: 5rem;
}
.image-detail{
  height: 95px;
}
.Pokemon-detail-item {
  display: flex;
}
.Pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 1rem;
  font-size: 20px;
  color: white;
}
img .Pokemon-detail {
  height: 95px;
}

.evolution-item {
  background-color: #2d2c2c;
  padding: 10px;
  cursor: pointer;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.evolution-container{
  background-color: #2d2c2c;
  padding: 10px;
  cursor: pointer;
  color: white;
  display: flex;
  font-size: 20px;
  align-items: center;
  width: 80%;
  max-width: 500px;
  height: 5rem;
}
h3 {
  font-size: 25px;
}
