h1,
h2,
h3,
p {
  margin: 0px;
}

body {
  margin: 0;
  background-color: #ef3e3e;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
  color: white;
}

.app {
  display: grid;
  grid-template-columns: 40% 50%;
  height: 100vh;
  width: 100vw;
}

.left-column {
  overflow-y: auto;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

.right-column {
  overflow-y: auto;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.pokemon-item {
  background-color: #2d2c2c;
  color: white;
  cursor: pointer;

  padding: 0 20px;
  width: 100%;
  min-height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
}

.pokemon-item:hover {
  background-color: #404040;
}
.pokemon-item .infos {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 18px;
}

.pokemon-item img {
  height: 55px;
  width: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 80%;
  max-width: 600px;
  margin-bottom: 10px;
}
.search-icon {
  font-size: 28px;
}
.search-input {
  width: 100%;
  padding: 12px;
  background-color: #a32a2a;
  color: white;
  font-size: 18px;
  border: none;
}

