.Pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: 100%;
}

.Pokemon-detail > p:first-child{
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}
.image-detail {
  height: 200px;
  width: auto;
  filter: drop-shadow(0 5px 10px rgba(0,0,0,0.3));
  margin: 5px;
}

.nom-type {
  width: 100%;
  text-align: center;
  margin: 5px 0;
  font-size: 3rem;
  font-weight: bold;
}


.types-container {
  display: flex;
  justify-content: center;
  gap: 15px; 
  margin-bottom: 20px;
  width: 100%;
}
.types-container img {
  width: 50px;
}

.evolution-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Pokemon-detail h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100%;
}

.Pokemon-detail > div{
  width: 100%;
  margin-top: auto;
  margin-bottom: 20px;
}